{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>inContext</h1>
</div>
<p class="lead">Freedom of identity and control over privacy are the top priorities.</p>
<p>inContext is part of a class project for CMS.100 at MIT, taught by Professor Fox Harrell.  The aim of inContext
was to redefine the Facebook profile in a way that empowered users to determine their identities and give them
total control over what they share.  This is the solution I came up with, made in a six day rush while working on
other final projects.  Hope you find it interesting!</p>
{% endblock %}
