{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .section p {
        font-size: 24px;
    }

    h1 {
        font-size: 48px;
    }
</style>
<div class="section">
<div class="jumbotron">
    <h1>inContext <small>Online profiles built for <em>you.</em></small></h1>
    <p>Social media sites give you a template of who they think you are, ask you to fill it in, and then sell your
    information off to advertisers.  inContext lets you define your profile on your own terms, and gives you control
    over who sees your information.  With the power of contexts, the way people see you is up to you.</p>
    <p><a class="btn btn-primary btn-lg" role= "button" href="{{ url_for('register') }}">Make your page</a></p>
</div>
</div>
<div class="section">
    <h1>How does it work?</h1>
    <p>In one sentence: You define aspects of yourself, add details about them, and make contexts to share them with.</p>
    <p><small>Scroll down for more detail!</small></p>
</div>
<div class="section">
    <h2>Aspects</h2>
    <p>Your page is made of <strong><em>aspects</em></strong>.  Each aspect is one screen of your profile, and can describe
    any part of your identity you like.  Whether it's:
    <ul>
    <li>Favorite foods!</li>
    <li>Courses you're taking</li>
    <li>Personal Goals</li>
    <li>Silly pictures of you with sock puppets</li>
    </ul>
    An aspect can be any part of you that you want.
</div>
 <div class='section'>
     <h2>Details</h2>
    <p>When you make an aspect, it's just an empty page.  To flesh it out, add some <strong><em>details</em></strong>!
        You name them and can add an image, some text, or both.  Details let you describe yourself however you'd like.</p>
     <p>Want to share pictures of your friends?  Go for it.</p>
     <p>Need everyone to know what League you reached in Starcraft last season?  Sounds good!</p>
     <p>Whichever of the details of your life you want to record, you can do it.</p>
</div>
<div class='section'>
    <h2>Contexts</h2>
    <p>Once you've made your aspects and added some details, it's time to define your <strong><em>contexts</em></strong>.  Contexts are how
    people get to know you.</p>
    <p>Instead of asking to be your friend, people ask to connect with you in one of your contexts.
    Friend, co-worker, band-mate, potential client -- your contexts are up to you.</p>
    <p>A context is a set of aspects that you want visible for somebody who knows you like that.  If you want one of your aspects to only show up for close friends, or you
    want to have a simple context just for acquaintances, you can make them that way!.</p>
    <div class="center-block"><a class="btn btn-primary btn-lg" role= "button" href="{{ url_for('register') }}">Try it now</a></div>
</div>

{% endblock %}
