{% extends 'layouts/main.html' %}
{% block title %} {{ user.name }} {% endblock %}
{% block content %}
<style>
    .cardBox {
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid;
        border-radius: 10px;
        padding: 10px;
    }
    .cardRow {
        margin-top : 10px;
        margin-bottom: 10px;
    }

    .cardBox p {
        font-size: 18px;
    }
</style>

{% for aspect in aspects %}
<div class="section">
    <div class="page-header">
        <div class='row'>
            <h1> {{ user.name }} </h1>
            <p class="float-right">
                {% if not yourPage %}
                <a role="button" class="btn btn-default float-right" href="{{ url_for('addConnection', profileURL = profileURL) }}">
                    Connect
                </a>
            <ul class="dropdown-menu">
                {% for context in contexts %}
                <li><a href="{{ url_for('createConnection') }}">{{ context.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <a role='button' class='btn btn-default' href="{{ url_for('addDetail', profileURL = current_user.url) }}">Add Detail</a>
            <a role='button' class='btn btn-default' href="{{ url_for('addAspect', profileURL = current_user.url) }}">Add Aspect</a>
            <a role='button' class='btn btn-default' href="{{ url_for('addContext', profileURL = current_user.url) }}">Add Context</a>
            {% endif %}
            </p>
        </div>
    </div>
    <h2>{{ aspect['title'] }}</h2>
    {% for row in aspect.rows %}
    <div class='row cardRow'>
        {% for detail in row %}
        <div class='col-md-4'>
            <div class='cardBox'>
                <h3>{{ detail.title }}</h3>
                {% if detail.image %}
                <img class="img-rounded" style="width:100%; height:auto;" src="{{ detail.image[0].url }}">
                {% endif %}
                {% if detail.text %}
                <p>{{ detail.text }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
