{% extends 'layouts/form.html' %}
{% block title %}Add Aspect to Context{% endblock %}
{% block content %}
<form method="post" class="form">
    <h3 class="form-heading">Add Aspect to Context<a href="{{ url_for('getProfile', profileURL = current_user.url) }}" title="Back to your page"><i class="icon icon-home pull-right"></i></a></h3>
    {{ form.csrf_token }}
    {{ form.aspect(class_ = 'form-control', placeholder = form.aspect.label.text, required = true) }}
    {{ form.context(class_ = 'form-control', placeholder = form.context.label.text, required = true) }}
    <input type="submit" value="Add" class="btn btn-primary btn-lg btn-block" action = "{{ url_for('add_aspect_to_context', profileURL = current_user.url) }}">
</form>
{% endblock %}
