{% extends 'layouts/form.html' %}
{% block title %}Create Detail{% endblock %}
{% block content %}
<form method="post" class="form">
    <h3 class="form-heading">Create New Detail<a href="{{ url_for('getProfile', profileURL = current_user.url) }}" title="Back to your page"><i class="icon icon-home pull-right"></i></a></h3>
    {{ form.csrf_token }}
    {{ form.title(class_ = 'form-control first-input', placeholder = form.title.label.text, required = true, autofocus = true) }}
    {{ form.aspect(class_ = 'form-control', placeholder = form.aspect.label.text, required = true) }}
    {{ form.text(class_ = 'form-control', placeholder = form.text.label.text, required = true) }}
    {{ form.image(class_ = 'form-control last-input', placeholder = form.image.label.text, required = true) }}
    <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" action = "{{ url_for('addDetail', profileURL = current_user.url) }}">
</form>
{% endblock %}
